.menu
{
    padding: 0;
    margin: 0;
    margin-top: -2.1em;
}

.menu a
{
    text-decoration: none;
    font-size: 35px;
    text-shadow: -0.58px 0 black, 0 0.58px black, 0.58px 0 black, 0 -0.58px black;
/*    text-shadow: -0.58px 0 white, 0 0.58px white, 0.58px 0 white, 0 -0.58px white;*/
/*    color: #B86D29;*/
/*
    color: #A0785A;
*/
/*    color: #880088;*/
    color: #0000CD;
    display: block;
/*
    width: 95.5%;
*/
/*
    width: 100%;
*/
    text-align: center;
    
    font-family: "Courier New", Courier, monospace;
/*
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
*/
}

.menu ul, .menu li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
ul.uroven1
{
    width: 100%;
}
*/

ul.uroven1 li.polozka1
{
    position: relative;
    font-weight: bold;
    height: 50px !important;
    line-height: 50px;
/*    background: #0c0806  2px;*/
    
    padding: 0 .5em;
    height: 1em;
    padding-left: 5em;
/*
    border: solid #8B4513 2px;
*/  
    background-image: url('../images/puvodni_obrazky/FilmReelLogo1.jpg');
/*    border: 0;*/
/*    background-size: 277px 70px;*/
        background-size: 320px 70px;
    background-position: center;
}
/*

ul.uroven1 li.polozka1:first-child {
    border-top: solid #8B4513 6px;
}

 ul.uroven1 li.polozka1:last-child {
    border-bottom: solid #8B4513 6px;
 }
*/

.menu a:hover{
    padding-left: 0.8em;    
    color: #FFFF00;
}

ul.uroven1 li.polozka1:hover,ul.uroven1 li.polozka1Hover
{
    visibility: visible;
}